<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wydruk</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <div>
    <table>
      <tr>
        <th> Imię </th>
        <th> Nazwisko </th>
        <th> Nazwa zajęć </th>
        <% for (let i = 1; i <= 10; i++) { %> 
          <th> Zadanie <%= i -%> </th>
        <% } %> 
      </tr>
      <tr>
        <td> <%= locals.name %> </td>
        <td> <%= locals.surname %> </td>
        <td> <%= locals.className %> </td>
        <% for (let i = 1; i <= 10; i++) { %> 
          <td> <%= locals[`exercise${i}`] %> </td>
        <% } %> 
      </tr>
    </table>
  </div>
</body>
</html>